<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="appender" class="org.apache.log4j.ConsoleAppender">
    <param name="Append" value="true"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%c] %-5p - %m - %r%n"/>
    </layout>
  </appender>


  <category name="org.springframework" additivity="false">
    <priority value="error"/>
    <appender-ref ref="appender"/>
  </category>
  <category name="org.apache.activemq" additivity="false">
    <priority value="error"/>
    <appender-ref ref="appender"/>
  </category>

 <category name="com.amin" additivity="false">
    <priority value="debug"/>
    <appender-ref ref="appender"/>
  </category>
  <root>
    <appender-ref ref="appender"/>
  </root>
</log4j:configuration>
